.container {
  padding: 20px 40px;

  .text {
    margin: 8px 0;
    font-size: 25px;
  }

  .status {
    > div {
      display: flex;
      align-items: center;
      align-content: center;
      align-self: center;
    }
    svg {
      margin-left: 5px;
    }
  }
}

.tag {
  padding: 4px; 
  border-radius: 4px;
  color: #fff;
}

.timeLine {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-self: center;
  align-items: center;
}

.author {
  display: flex;
  align-self: center;
  align-content: center;
  align-items: center;

  h2 {
    color: black;
    font-size: 23px;
    margin-left: 8px;
  }
}

.like {
  &:hover {
    cursor: pointer;
  }
}
